ai-agents/Video Content Engine.json
{
  "name": "Video Content Engine",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        0
      ],
      "id": "2fb6d551-5194-41ee-b86e-24bfdc4194c5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "base": {
          "__rl": true,
          "value": "appJKpg6FAG7tOM9C",
          "mode": "list",
          "cachedResultName": "Video Content Engine",
          "cachedResultUrl": "https://airtable.com/appJKpg6FAG7tOM9C"
        },
        "table": {
          "__rl": true,
          "value": "tblgy6pis5SBWsWCc",
          "mode": "list",
          "cachedResultName": "Scripts",
          "cachedResultUrl": "https://airtable.com/appJKpg6FAG7tOM9C/tblgy6pis5SBWsWCc"
        },
        "id": "recXb95RMC6RCX8ee",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -240,
        0
      ],
      "id": "e39ad959-b663-40e0-8aff-8ed4adbd8f8a",
      "name": "Get a record",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "GAzy5Pw6gE7xPdbA",
          "name": "Airtable New"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appJKpg6FAG7tOM9C",
          "mode": "list",
          "cachedResultName": "Video Content Engine",
          "cachedResultUrl": "https://airtable.com/appJKpg6FAG7tOM9C"
        },
        "table": {
          "__rl": true,
          "value": "tblBZ8XpleREAZaB1",
          "mode": "list",
          "cachedResultName": "Video_Pipeline",
          "cachedResultUrl": "https://airtable.com/appJKpg6FAG7tOM9C/tblBZ8XpleREAZaB1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Scripts": "={{ $json.script_id }}",
            "Script English": "={{ $json.sentence }}",
            "Display Name": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Display Name",
              "displayName": "Display Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Script English",
              "displayName": "Script English",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scripts",
              "displayName": "Scripts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        736,
        16
      ],
      "id": "9dfed745-6b58-44b2-8db5-5274fbf20510",
      "name": "Create a record",
      "alwaysOutputData": false,
      "executeOnce": false,
      "notesInFlow": false,
      "credentials": {
        "airtableOAuth2Api": {
          "id": "GAzy5Pw6gE7xPdbA",
          "name": "Airtable New"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node - Split German Script into Sentences\n\n// Get the input data\nconst inputData = $input.all();\n\n// Function to split text into sentences\nfunction splitIntoSentences(text) {\n  // German sentence splitting - handles common abbreviations\n  const sentences = text\n    .replace(/([.!?])\\s+/g, '$1|SPLIT|') // Mark sentence boundaries\n    .replace(/([.!?])$/g, '$1|SPLIT|') // Handle end of text\n    .split('|SPLIT|')\n    .map(s => s.trim())\n    .filter(s => s.length > 0); // Remove empty strings\n  \n  return sentences;\n}\n\n// Function to generate a unique ID\nfunction generateId(index) {\n  return `sent_${String(index + 1).padStart(4, '0')}`;\n}\n\n// Process the first item in the input\nconst item = inputData[0];\nconst germanScript = item.json['Scripts in German'];\n\nif (!germanScript) {\n  return [{\n    json: {\n      error: 'No \"Scripts in German\" field found'\n    }\n  }];\n}\n\n// Split the script into sentences\nconst sentences = splitIntoSentences(germanScript);\n\n// Return array of items, each with a sentence object\nreturn sentences.map((sentence, index) => ({\n  json: {\n    script_id: $input.first().json.id,\n    id: generateId(index),\n    sentence: sentence\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "158d920d-0a35-4628-a40c-86625dc72b16",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        432,
        0
      ],
      "id": "3cf9e909-77f1-45d8-b42d-d5e603c5bcd8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Translate this German words for me: {{ $json[\"Scripts in German\"] }}",
        "options": {
          "systemMessage": "# German Translation Agent System Prompt\n\nYou are a professional German-to-English translation agent integrated into an n8n workflow. Your sole purpose is to translate German text into English with absolute fidelity.\n\n## CRITICAL RULE: EXACT TRANSLATION ONLY\n\n**NEVER add, remove, modify, or interpret beyond what is explicitly stated in the German text.**\n\n## Your Task\n\nTranslate the provided German sentence(s) into English following these strict guidelines:\n\n### Translation Principles\n- Translate every word and element present in the German text\n- Do not add explanations, clarifications, context, or interpretations\n- Do not omit any words, phrases, or punctuation\n- Do not simplify or paraphrase - translate as literally as possible while maintaining English grammar\n- Preserve the exact sentence structure when grammatically possible in English\n- Maintain the formality level of the original text (formal/informal)\n- Keep proper nouns, brand names, and technical terms exactly as they appear\n\n### Output Format\n- Return ONLY the translated English text\n- Do not include explanations, notes, preambles, or the original German text\n- Do not add phrases like \"Translation:\" or \"The translation is:\"\n- Maintain the exact same paragraph structure, line breaks, and punctuation\n- If there are multiple sentences, translate each one without combining or splitting them\n\n### Forbidden Actions\n- ❌ Do NOT add clarifying information (even in parentheses)\n- ❌ Do NOT add context that isn't in the original\n- ❌ Do NOT explain cultural references\n- ❌ Do NOT summarize or condense\n- ❌ Do NOT expand or elaborate\n- ❌ Do NOT convert measurements, dates, or numbers unless the German text explicitly requests it\n- ❌ Do NOT interpret ambiguous text - translate exactly what is written\n\n### Required Actions\n- ✓ Translate every single word\n- ✓ Preserve all punctuation marks\n- ✓ Keep the same number of sentences\n- ✓ Maintain the original meaning without embellishment\n\nIf the input text is not in German or appears to already be in English, return the original text unchanged."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -48,
        0
      ],
      "id": "7ed8b732-a277-4be2-be8c-293b29134087",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -48,
        192
      ],
      "id": "bc93eb31-b34c-4da8-95f2-2c47643e9140",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ysWN4m0wEbZdMetX",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a record": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d510fddf-9e1f-4d3f-a33c-efb1315230a8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d7b121ca890657f2ce14bd9524c52735b29a704a156d4e35b8bb60bdb9ac2721"
  },
  "id": "CuoVnTmy94C81R2i",
  "tags": []
}